<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	 default-lazy-init="false">

	<bean id="topicJobTimer" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="concurrent" value="false"></property>
				<property name="targetObject">
					<ref bean="topicJob" />
				</property>
				<property name="targetMethod">
					<value>createHtmlJob</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0/2 * * * ?</value>
		</property>
	</bean>

	<bean id="importMediaOrderJobTimer" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="concurrent" value="false"></property>
				<property name="targetObject">
					<ref bean="rebateJob" />
				</property>
				<property name="targetMethod">
					<value>importMediaOrder</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0/8 * * * ?</value>
		</property>
	</bean>


	<bean id="synCommissionOrderStatusJobTimer" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="concurrent" value="false"></property>
				<property name="targetObject">
					<ref bean="rebateJob" />
				</property>
				<property name="targetMethod">
					<value>updateCommissionOrderStatus</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0 0/1 * * ?</value>
		</property>
	</bean>
	<bean id="freshProductsJobTimer" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="concurrent" value="false"></property>
				<property name="targetObject">
					<ref bean="rebateJob" />
				</property>
				<property name="targetMethod">
					<value>refreshProducts</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0 0/3 * * ?</value>
		</property>
	</bean>

	<bean id="refreshDaXueCouponProductsJobTimer" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="concurrent" value="false"></property>
				<property name="targetObject">
					<ref bean="rebateJob" />
				</property>
				<property name="targetMethod">
					<value>refreshDaxueCouponProductsCache</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0 0/2 * * ?</value>
		</property>
	</bean>

	<bean id="refreshUserInfoJobTimer" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="concurrent" value="false"></property>
				<property name="targetObject">
					<ref bean="rebateJob" />
				</property>
				<property name="targetMethod">
					<value>refreshUserInfo</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0 0/5 * * ?</value>
		</property>
	</bean>

	<bean id="refreshUserClickJobTimer" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="concurrent" value="false"></property>
				<property name="targetObject">
					<ref bean="rebateJob" />
				</property>
				<property name="targetMethod">
					<value>refreshUserClick</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0 0/4 * * ?</value>
		</property>
	</bean>
</beans>
