<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName" default-lazy-init="false">

    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:sqlmap-config.xml"/>
    </bean>

    <!-- 分片序列工具-->
    <bean id="sequenceUtil" class="com.rebate.common.data.seq.SequenceUtil">
        <property name="defaultSequence">
            <bean class="com.rebate.common.data.seq.Sequence">
                <property name="dataSource" ref="dataSource"/>
                <property name="blockSize" value="50"/>
                <property name="startValue" value="100000000"/>
            </bean>
        </property>
    </bean>

    <bean id="categoryDao" class="com.rebate.dao.impl.CategoryDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="productDao" class="com.rebate.dao.impl.ProductDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="productCouponDao" class="com.rebate.dao.impl.ProductCouponDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="commentDao" class="com.rebate.dao.impl.CommentDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="userInfoDao" class="com.rebate.dao.impl.UserInfoDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="commissionDao" class="com.rebate.dao.impl.CommissionDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="rebateDetailDao" class="com.rebate.dao.impl.RebateDetailDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="extractDetailDao" class="com.rebate.dao.impl.ExtractDetailDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="activityDao" class="com.rebate.dao.impl.ActivityDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="advertismentPositionDao" class="com.rebate.dao.impl.AdvertismentPositionDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="incomeDetailDao" class="com.rebate.dao.impl.IncomeDetailDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="agentRelationDao" class="com.rebate.dao.impl.AgentRelationDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>