<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName" default-lazy-init="false">
	
	<context:component-scan base-package="com.rebate.**" />

	<bean id="htmlCreatorMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!--D:\ipbrother\webs\jingcuhui.com\m-->
				<entry key="templatePath" value="${rebate.templatePath}" ></entry>
				<entry key="templateName" value="${rebate.templateName}" ></entry>
				<entry key="htmlPath" value="${rebate.htmlPath}" ></entry>
				<entry key="htmlName" value="${rebate.htmlName}" ></entry>
			</map>
		</constructor-arg>
	</bean>

	<!--JD SDK config-->
	<bean id="jdConfig" class="com.rebate.domain.jd.JDConfig">
		<property name="appKey" value="BC2C0FCDA61E45DBE36E95D51E29543C"/>
		<property name="appSecret" value="d253bb1c493344c5aa337ff917cfd46b"/>
		<property name="accessToken" value="873049e9-749c-479e-9647-7e91e13eabcf"/>
		<property name="apiUrl" value="https://api.jd.com/routerjson"/>
		<property name="unionId" value="1000062434" />
		<property name="promotionType" value="7"/>
		<property name="webId" value="444088091"/>
		<property name="adtType" value="6"/>
		<property name="channel" value="WL"/>

	</bean>
</beans>