<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName" default-lazy-init="false">
	
	<context:component-scan base-package="com.rebate.**" />

	<bean id="htmlCreatorMap" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!--D:\ipbrother\webs\jingcuhui.com\m-->
				<entry key="templatePath" value="${rebate.templatePath}" ></entry>
				<entry key="templateName" value="${rebate.templateName}" ></entry>
				<entry key="htmlPath" value="${rebate.htmlPath}" ></entry>
				<entry key="htmlName" value="${rebate.htmlName}" ></entry>
			</map>
		</constructor-arg>
	</bean>

	<!--JD SDK config-->
	<bean id="jdConfig" class="com.rebate.domain.jd.JDConfig">
		<property name="appKey" value="${jd.jos.appKey}"/>
		<property name="appSecret" value="${jd.jos.appSecret}"/>
		<property name="accessToken" value="${jd.jos.accessToken}"/>
		<property name="apiUrl" value="${jd.jos.apiUrl}"/>
		<property name="unionId" value="${jd.jos.unionId}" />
		<property name="promotionType" value="${jd.jos.promotionType}"/>
		<property name="webId" value="${jd.jos.webId}"/>
		<property name="adtType" value="${jd.jos.adtType}"/>
		<property name="channel" value="${jd.jos.channel}"/>

	</bean>
	<!--URL处理工具类-->
	<bean id="rebateUrlUtil" class="com.rebate.common.util.rebate.RebateUrlUtil">
		<property name="jdUnionUrlPrefix" value="https://union-click.jd.com/jdc?"></property>
		<property name="rebateUrlPrefix" value="http://m.qingsongfan.com.cn/qsc/jumpJdUnionUrl?"></property>
	</bean>
	<!--json数据读取工具类-->
	<bean id="jsonDataReader" class="com.rebate.common.data.json.JsonDataReader">
		<constructor-arg name="path" value="classpath*:properties/json/**.json"></constructor-arg>
	</bean>
</beans>