<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName" default-lazy-init="false">

	<bean id="topicJobTimer" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="concurrent" value="false"></property>
				<property name="targetObject">
					<ref bean="topicJob" />
				</property>
				<property name="targetMethod">
					<value>createHtmlJob</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0/2 * * * ?</value>
		</property>
	</bean>
</beans>
