<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName" default-lazy-init="false">

    <bean id="parentDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="initialSize" value="0" />
        <property name="minIdle" value="5" />
        <property name="maxIdle" value="80" />
        <property name="maxTotal" value="80" />
        <property name="maxWaitMillis" value="5000"></property>
        <property name="validationQuery" value="SELECT 1"></property>
        <property name="testOnBorrow" value="false"></property>
        <property name="testWhileIdle" value="true"></property>
        <property name="timeBetweenEvictionRunsMillis">
            <value>0</value>
        </property>
    </bean>


    <bean id="dataSource" parent="parentDataSource">
        <property name="driverClassName" value="${rebate.jdbc.driver}"/>
        <property name="url" value="${rebate.jdbc.url}"/>
        <property name="username" value="${rebate.jdbc.username}"/>
        <property name="password" value="${rebate.jdbc.password}"/>
    </bean>

</beans>