<html style="font-size: 25.875px;"><head>
    <meta charset="utf-8">
    <title>业绩报表</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable = no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/income/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/income/incomeReport.css?v1" type="text/css">
    <link rel="stylesheet" href="/static/css/income/classic.css">
    <link rel="stylesheet" href="/static/css/income/classic.date.css">

</head>
<body style="font-size: 12px;">
<div class="searchLayer">

<div id="switches" class="switches redStyle" style="width:4.96rem;height:1.1rem;line-height:1.1rem">
    <span class="switch #if($dayTab==1) active#end" id="today" style="font-size:0.65rem"><a href="/personal/agentStatistits?dayTab=1&r=${r}" style="color:#666;text-decoration:none;" target="_blank">今日</a></span>
    <span class="switch #if($dayTab==2) active#end" id="yesterday" style="font-size:0.65rem"><a href="/personal/agentStatistits?dayTab=2&r=${r}" style="color:#666;text-decoration:none;" target="_blank">昨日</a></span>
</div>
</div>
<div class="totalCommission">
    <div class="totalCommissionDetail">
        <span>预计佣金:</span>
        <span class="money">
            #if($recommendUserOrderSummary.commission)
                #set($commission=$!{recommendUserOrderSummary.commission} + $!{todayOrderSummary.commission})
                $!commission
            #else
                $!{todayOrderSummary.commission}
            #end
        </span>
    </div>

    #if($!userInfo.agent==2)
        <div>
            <label style="color:#59d625">粉丝：$!{recommendUserCount} 订单数：$!{recommendUserOrderSummary.orderCount} 佣金：$!{recommendUserOrderSummary.commission} 总粉丝：$!{allRecommendUserCount}</label>
            <img src="/static/img/hand.png" style="vertical-align: bottom"/><span style=""><a style="font-size:18px;color:#f3600a;text-decoration:none;font-family: sans-serif;" href="/personal/recommendUserCode">去拉粉>></a></span>
        </div>
    #end
    <div class="totalCommissionInfo">

        #if($adminFlag)
            <!--<div> <h4>转化率</h4> <p>56.36%</p> </div>-->
            <div> <h4>全站点击数</h4> <p>$!{allOrderSummary.clickCount}</p> </div>
            <div> <h4>全站订单数</h4> <p>$!{allOrderSummary.orderCount}</p> </div>
            <div> <h4>全站佣金</h4> <p>$!{allOrderSummary.commission}</p> </div>
        #else
            <div> <h4>点击数</h4> <p>$!{todayClick}</p> </div>
            <div> <h4>订单</h4> <p>$!{todayOrderSummary.orderCount}</p> </div>
            <!--<div> <h4>转化率</h4> <p>56.36%</p> </div>-->
        #end
    </div>

</div>
<div class="commissionByDay">
    <div class="commissionType">
        <span class="active" id="">最近30天收益</span>
    </div>
</div>
<div class="reportTable">
    <div class="tHeader">
        <div class="th">时间</div>
        <div class="th">点击数</div>
        <div class="th">订单数</div>
        <div class="th">预计佣金</div>
    </div>
    #foreach($orderSummary in $list)
    <div class="tBody">
        <div class="tr" data-timer="1508342400000">
        <div class="td"> $!date.format('MM-dd',$!orderSummary.submitDate)</div>
       <div class="td">$!{orderSummary.clickCount}</div>
        <div class="td">$!{orderSummary.orderCount}</div>
        <div class="td"><span class="money">$!{orderSummary.commission}</span></div>
        </div>
    </div>
    #end
</div>
</body><style id="igor_ext_nofollow">a[rel~='nofollow']{outline:.14em dotted red !important;outline-offset:.2em;}a[rel~='nofollow'] > img{outline:thin dotted red !important;outline-offset:.2em;}</style></html>