#set( $title = "订单明细")
#parse("/common/head.vm")
<body class="bd bd-pb">
<!--.header-->
<div class="header mui-flex align-center">
    <div class="back cell fixed">
        <a href="javascript:;"><img src="/static/img/ico-arrow-left-01.png" alt=""></a>
    </div>
    <div class="title cell">
        <span class="text">我的订单</span>
        <span class="arrow"></span>
    </div>
    <div class="droplist" name="droplist">
        <input id="tab" type="hidden" value="0"/>
        <ul class="sorts"  id="sorts">
            <li data="0"  #if($tab==1) class="sort selected" #else class="sort" #end>我的订单</li>
            #if($userInfo.agent==1)
                <li data="1" #if($tab==1) class="sort selected" #else class="sort" #end>代理引入订单</li>
            #end
            #if($userInfo.agent==2)
                <li data="2" #if($tab==2) class="sort selected" #else class="sort" #end>代理引入订单</li>
            #end

        </ul>
    </div>
</div>
<!--/.header-->
<div class="o-list">

</div>

    #parse("/common/footer.vm")
<script type="text/javascript" src="/static/js/order.js?v=20"></script>

</body></html>