#set( $title = "分享")
#parse("/common/head.vm")
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

<script type="text/javascript">

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '$!{wxConfig.appId}', // 必填，公众号的唯一标识
        timestamp: $!{timeStamp}, // 必填，生成签名的时间戳
        nonceStr: '$!{noncestr}', // 必填，生成签名的随机串
        signature: '$!{signature}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
        var productName = $("#productName").val();
        var originalPrice = $("#originalPrice").val();
        var couponPrice = $("#couponPrice").val();

        var title="";
        var desc =productName+"<br/>"+originalPrice+"<br/>"+couponPrice;
        var link = $("#promotionUrl").val();
        var imgUrl = $("#imgUrl").val();

        wx.onMenuShareTimeline({
            title: title, // 分享标题
            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('分享成功!');
                location.href ='/rebate/promotion'
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            },
            fail: function (res) {
                alert(res);
            }
        });

        wx.onMenuShareAppMessage({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: imgUrl, // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('分享成功!');
                location.href ='/rebate/promotion'
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert("error")
            }
        });

        wx.onMenuShareQQ({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('分享成功!');
                location.href ='/rebate/promotion'
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert('分享成功!');
                location.href ='/rebate/promotion'
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQZone({
            title: title, // 分享标题
            desc: desc, // 分享描述
            link: link, // 分享链接
            imgUrl: imgUrl, // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    });
    wx.error(function(res){
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });



    function shareProduct(tab){

        if(1==tab){
            shareToFriend(title,desc,link,imgUrl)
        }else if(2==tab){
            shareToTimeline(title,desc,link,imgUrl)
        }else if(3==tab){
            shareToQQ(title,desc,link,imgUrl)
        }

    }
</script>
<body class="bd">
<!--.header-->
<div class="header mui-flex align-center">
    <div class="back cell fixed">
        <a href="javascript:;"><img src="/static/img/ico-arrow-left-01.png" alt=""></a>
    </div>
    <div class="title cell">分享赚钱</div>
</div>
<!--/.header-->
<div class="share-money-page">
    <div class="tip-rules">
        分享给朋友购买，预计可赚<span class="ftx-red">38元</span>。
        <a href="#">规则&gt;</a>
    </div>
    <div class="share-item">
        <div class="sec-01">
            <span class="radio radio-single chk"></span>分享二维码
        </div>
        <div class="cnt">
            <div class="share-good-info">
                <img src="$!{product.imgUrl}" alt="">
                <input value="$!{product.imgUrl}" id="imgUrl" type="hidden">

            </div>
            <!--<div class="recomm-words">
                <div class="tl">推荐语（<span>用于微信朋友圈、群引导</span>）</div>
                <div class="ipt-box">
                    <input class="ipt" placeholder="走了个特殊通道，直降100元…" type="text">
                </div>
            </div>-->
        </div>
    </div>
    <div class="share-item">
        <div class="cnt">
            <div class="recomm-edit">
                <div class="tl">您可以编辑发送朋友的推广内容</div>
                <div class="info">
                    <div class="sec mui-flex align-center">
                        <div class="cell fixed"></div>
                        <div class="cell">
                            <input value="$!{product.name}" id="productName" type="text">
                        </div>
                    </div>
                    <div class="sec mui-flex align-center">
                        <div class="cell fixed">
                        </div>
                        <div class="cell">
                            <input value="【原价】$!{product.originalPrice}元" id="originalPrice" type="text">
                        </div>
                    </div>
                    <div class="sec mui-flex align-center">
                        <div class="cell fixed">
                        </div>
                        <div class="cell">
                            <input value="【券后价】：$!{product.productCoupon.couponPrice}元" id="couponPrice" type="text">
                        </div>
                    </div>
                    <div class="sec mui-flex align-center">
                        <div class="cell fixed">
                            【购买链接】
                        </div>
                        <div class="cell">
                            <input style="color:#898989;" value="$!{product.promotionShortUrl}" id="promotionUrl" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="share-way-wrap">
        <div class="inner">
            <h4 class="tl">分享到</h4>
            <div class="share-way mui-flex align-center">
                <a href="javascript:void(0);" class="cell" onclick="shareProduct(1)">
                    <img src="/static/img/ico-wechat-01.png" alt="">
                    <p>微信好友</p>
                </a>
                <a href="javascript:void(0);" class="cell" onclick="shareProduct(2)">
                    <img src="/static/img/ico-pyq-01.png" alt="">
                    <p>朋友圈</p>
                </a>
                <a href="javascript:void(0);" class="cell" onclick="shareProduct(3)">
                    <img src="/static/img/ico-qq-01.png" alt="">
                    <p>QQ</p>
                </a>
                <a href="javascript:;" class="cell">
                    <img src="/static/img/ico-02.png" alt="">
                    <p>复制链接</p>
                </a>
            </div>
        </div>
    </div>
</div>
</body></html>