<div class="tabs-tabs-wrap">
    <div class="tabs-tabs mui-flex">
        <nav class="cell nav-nav">
            <ul style="width: 2908px;">
                <li class="active"><a href="javascript:void(0);" onclick="reLoadData(1,'',$!{promotionTab});">全部</a></li>
                #foreach($category in $topCategories)
                    <li>
                        <a href="javascript:void(0);" onclick="reLoadData(1,'$!{category.secondCategoryList}',$!{promotionTab})">$!{category.name}</a>
                    </li>
                #end
            </ul>
        </nav>
        <div class="cell fixed arrow align-center">
            <img src="/static/img/ico-arrow-down-02.png" alt="">
        </div>
    </div>
    <div class="tabs-droplist">
        <div class="tl">全部分类</div>
        <ul class="list">
            #foreach($category in $allCategories)
                <li>
                    <a href="javascript:void(0);" onclick="reLoadData(1,'$!{category.secondCategoryList}',$!{promotionTab})">$!{category.name}</a>
                </li>
            #end
        </ul>
    </div>
</div>