<!DOCTYPE html>
<html style="font-size: 170.667px;"><head lang="zh-cn">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>${title}</title>
    <link rel="apple-touch-icon-precomposed" href="">
    <link rel="apple-touch-startup-image" href="">
    <link rel="stylesheet" href="/static/css/css.css?v11"/>
    <script type="text/javascript" src="/static/lib/zpeto/zepto-1.2.0.min.js"></script>
    <script type="text/javascript" src="/static/lib/zpeto/zepto.fx.js"></script>
    <script type="text/javascript" src="/static/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/lib/jquery/jquery-2.0.3.min.js"></script>

    <script type="text/javascript" src="/static/js/comm.js?v10"></script>

</head>