<!-- 2017-11-11 活动红包1 -->
<style>
    .redPaperBox {
        width:100%;height:100%;position:fixed;left:0;top:0;z-index: 9999;background-color:rgba(0,0,0,0.5);color: #ffffff;
    }
    .redPaper {
        width: 80%;height: 70%;position: absolute;left: 50%;margin-left: -40%;top: 5%;
    }
    .pcm-show {
        position: absolute;width: 80%;left: 10%;top:42%;text-align: center;
    }
    .redPaperClose {
        position: fixed;width: 40px;height: 40px;bottom:10%;left: 45%;
    }
    .rp-desc{
        width: 100%;font-size: 0.4rem;
    }
    .pcs-amoy-pwd{
        width: 90%;margin: 10px auto;height: 1rem;line-height: 1rem;border: 1px dashed #ffffff;text-align: center;font-size:0.48rem;
    }
    .pcs-tips img{vertical-align: middle;width: 0.747rem;height: 0.4rem;margin: 0.107rem 0.107rem;}

    .copyBtn,.redSuccess {
        width: 90%;position: relative;left: 5%;height: 30px;line-height: 30px;border-radius: 20px;font-size: 0.427rem;text-align: center;background-color: #FFD224;
    }
    .copyBtn {
        margin-top: 10px;
    }
    .redPaper img {
        width: 100%;
        border: none;
    }
    .redSuccess {
        top: -30px;
        background-color: #71ED39;
        display: none;
    }
    .redSuccess a{
        color: #ffffff;
    }
</style>
<div class="redPaperBox">
    <div class="redPaper">
        <a href="javascript:void(0);" onclick="redirectSalesUrl()"><img src="/static/img/red_paper.png"></a>
        <div class="pcm-show">
            <p class="rp-desc"></p>
        </div>
        <div class="redPaperClose">
            <img src="/static/img/ren-paper-close.png">
        </div>
    </div>
</div>
<script>
    $(function(){
        //浏览器禁用剪切
        document.body.onselectstart=document.body.oncut=function(){ return false;}
        var clientH = document.body.clientHeight;

        //一键复制关闭窗口
        $(".redPaperClose").click(function(){

            $(".redPaperBox").hide();

        })
    })

    function redirectSalesUrl(){
        sui = $("#sui").val();
        if(sui){

        }

        $.ajax({
            type: 'GET',
            url: '/promotion/getSalesMainUrl.json?sui=' + sui +"&r=" + Math.random(),
            dataType: 'json',
            success: function (reponse) {
                if(reponse.success){
                    var url = reponse.url;
                    location.href = url;
                }else{
                    alert("很抱歉，优惠券活动已经结束！")
                }
            },
            error: function (xhr, type) {
                console.log('系统异常，请重试！');
            }
        });
    }
</script>
<!-- 2017-11-11 活动红包1 -->