<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="ProductCoupon">

    <typeAlias alias="ProductCoupon" type="com.rebate.domain.ProductCoupon"/>
    <typeAlias alias="ProductCouponQuery" type="com.rebate.domain.query.ProductCouponQuery"/>


    <resultMap class="ProductCoupon" id="ProductCouponMap">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="couponPrice" column="coupon_price"/>
        <result property="couponLink" column="coupon_link"/>
        <result property="couponTab" column="coupon_tab"/>
        <result property="status" column="status"/>
        <result property="couponNote" column="coupon_note"/>
        <result property="discount" column="discount"/>
        <result property="quota" column="quota"/>
        <result property="platform" column="platform"/>
        <result property="num" column="num"/>
        <result property="remainNum" column="remain_num"/>
        <result property="yn" column="yn"/>
        <result property="sourcePlatform" column="source_platform"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
    </resultMap>

    <sql id="fields">
         id,
        product_id,
        coupon_price,
        coupon_link,
        coupon_tab,
        status,
        coupon_note,
        discount,
        quota,
        platform,
        num,
        remain_num,
        yn,
        source_platform,
        start_date,
        end_date,
        created,
        modified
    </sql>
    <sql id="condition">
        <dynamic prepend="where">
            <isNotNull property="sourcePlatform" prepend="and">
                source_platform=#sourcePlatform#
            </isNotNull>
            <isNotNull property="product_id" prepend="and">
                productPd=#product_id#
            </isNotNull>
        </dynamic>
    </sql>

    <insert id="insert" parameterClass="ProductCoupon">
        INSERT INTO product_coupon
        (
            product_id,
            coupon_price,
            coupon_link,
            coupon_tab,
            status,
            coupon_note,
            discount,
            quota,
            platform,
            num,
            remain_num,
            yn,
            source_platform,
            start_date,
            end_date,
            created,
            modified
        )
        VALUES
        (
            #productId#,
            #couponPrice#,
            #couponLink#,
            #couponTab#,
            #status#,
            #couponNote#,
            #discount#,
            #quota#,
            #platform#,
            #num#,
            #remainNum#,
            #yn#,
            #sourcePlatform#,
            #startDate#,
            #endDate#,
            now(),
            now()
          )
    </insert>

    <update id="update">
        update product_coupon
        set  modified=now()
        <dynamic>
            <isNotNull property="couponNote" prepend=",">
                coupon_note = #couponNote#
            </isNotNull>
        </dynamic>
        where product_id=#productId#
    </update>

    <select id="findById" parameterClass="ProductCoupon" resultMap="ProductCouponMap">
        select
        <include refid="fields"/>
        from product_coupon
        where product_id=#productId#
        limit 1
    </select>

</sqlMap>