<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap namespace="RebateDetail">

    <typeAlias alias="RebateDetail" type="com.rebate.domain.RebateDetail"/>
    <typeAlias alias="RebateDetailQuery" type="com.rebate.domain.query.RebateDetailQuery"/>
    <typeAlias alias="OrderSummary" type="com.rebate.domain.OrderSummary"/>
    <typeAlias alias="OrderSummaryQuery" type="com.rebate.domain.query.OrderSummaryQuery"/>

    <resultMap class="OrderSummary" id="OrderSummaryResultMap">
        <result property="subUnionId" column="subUnionId" nullValue=""/>
        <result property="submitDate" column="submitDate"/>
        <result property="orderCount" column="orderCount" nullValue="0"/>
        <result property="commission" column="commission" nullValue="0"/>
        <result property="agentCommission" column="agentCommission" nullValue=""/>

    </resultMap>
    <resultMap class="RebateDetail" id="RebateDetailResultMap">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="productId" column="product_id"/>
        <result property="price" column="price"/>
        <result property="productCount" column="product_count"/>
        <result property="commission" column="commission"/>
        <result property="commissionRatio" column="commission_ratio"/>
        <result property="rebateRatio" column="rebate_ratio"/>
        <result property="submitDate" column="submit_date"/>
        <result property="finishDate" column="finish_date"/>
        <result property="orderStatus" column="order_status"/>
        <result property="status" column="status"/>
        <result property="created" column="created"/>
        <result property="modified" column="modified"/>
        <result property="price" column="price"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="imgUrl" column="img_url"/>
        <result property="unionId" column="union_id"/>
        <result property="subUnionId" column="sub_union_id"/>
        <result property="platformRatio" column="platform_ratio"/>
        <result property="userCommission" column="user_commission"/>
        <result property="agentCommission" column="agent_commission"/>
        <result property="positionId" column="position_id"/>
        <result property="validCode" column="valid_code"/>

    </resultMap>

    <sql id="fields">
        id,
        order_id,
        product_id,
        price,
        product_count,
        commission,
        commission_ratio,
        rebate_ratio,
        submit_date,
        finish_date,
        order_status,
        status,
        price,
        product_id,
        product_name,
        img_url,
        union_id,
        sub_union_id,
        platform_ratio,
        user_commission,
        agent_commission,
        position_id,
        valid_code,
        created,
        modified
    </sql>

    <insert id="insert" parameterClass="RebateDetail">
        insert into  rebate_detail
        (
        order_id,
        product_id,
        product_name,
        img_url,
        price,
        product_count,
        commission,
        commission_ratio,
        rebate_ratio,
        submit_date,
        finish_date,
        order_status,
        status,
        union_id,
        sub_union_id,
        platform_ratio,
        user_commission,
        agent_commission,
        position_id,
        valid_code,
        created,
        modified
        )
        values
        (
        #orderId#,
        #productId#,
        #productName#,
        #imgUrl#,
        #price#,
        #productCount#,
        #commission#,
        #commissionRatio#,
        #rebateRatio#,
        #submitDate#,
        #finishDate#,
        #orderStatus#,
        #status#,
        #unionId#,
        #subUnionId#,
        #platformRatio#,
        #userCommission#,
        #agentCommission#,
        #positionId#,
        #validCode#,
        now(),
        now()
        )
        <selectKey resultClass="long" keyProperty="id">
            SELECT @@IDENTITY as id
        </selectKey>
    </insert>

    <sql id="condition">
        <dynamic prepend="where">
            <isNotNull property="orderStatus" prepend="and">
                order_status = #orderStatus#
            </isNotNull>
            <isNotNull property="status" prepend="and">
                status = #status#
            </isNotNull>
            <isNotNull property="orderId" prepend="and">
                order_id=#orderId#
            </isNotNull>
            <isNotNull property="productId" prepend="and">
                product_id=#productId#
            </isNotNull>
            <isNotNull property="validCode" prepend="and">
                valid_code=#validCode#
            </isNotNull>
        </dynamic>
    </sql>
    <update id="update">
        update rebate_detail
        set  modified=now()
        <dynamic>
            <isNotNull property="orderStatus" prepend=",">
                order_status = #orderStatus#
            </isNotNull>
            <isNotNull property="status" prepend=",">
                status = #status#
            </isNotNull>
            <isNotNull property="finishDate" prepend=",">
                finish_date = #finishDate#
            </isNotNull>
            <isNotNull property="imgUrl" prepend=",">
                img_url = #imgUrl#
            </isNotNull>
            <isNotNull property="productName" prepend=",">
                product_name = #productName#
            </isNotNull>
            <isNotNull property="validCode" prepend=",">
                valid_code=#validCode#
            </isNotNull>
        </dynamic>
        where order_id=#orderId#
    </update>

    <select id="findCountBySubUnionId" parameterClass="RebateDetailQuery" resultClass="int">
        select
        count(1)
        from rebate_detail
        where sub_union_id=#subUnionId#
        OR sub_union_id IN(
        SELECT ui.sub_union_id AS subUnionId FROM recommend_user_info rui
        LEFT JOIN user_info ui
        ON rui.open_id=ui.open_id
        LEFT JOIN user_info uii
        ON rui.recommend_account=uii.open_id
        WHERE uii.sub_union_id =#subUnionId#
        )
        and valid_code=1
        and submit_date>=#startDate#
    </select>

    <select id="findListBySubUnionId" parameterClass="RebateDetailQuery" resultMap="RebateDetailResultMap">
        select
        <include refid="fields"/>
        from rebate_detail
        where sub_union_id=#subUnionId# OR sub_union_id IN(
        SELECT ui.sub_union_id AS subUnionId FROM recommend_user_info rui
        LEFT JOIN user_info ui
        ON rui.open_id=ui.open_id
        LEFT JOIN user_info uii
        ON rui.recommend_account=uii.open_id
        WHERE uii.sub_union_id =#subUnionId#
        )
        and valid_code=1
        and submit_date>=#startDate#
        order by submit_date desc
        limit #startRow#,#pageSize#
    </select>

    <select id="findCount" parameterClass="RebateDetailQuery" resultClass="int">
        select
        count(1)
        from rebate_detail
        <dynamic prepend="where">
            valid_code=1
            <isNotNull property="subUnionIds" open="and">
                sub_union_id IN($subUnionIds$)
            </isNotNull>
            <isNotNull property="subUnionId" open="and">
                sub_union_id =#subUnionId#
            </isNotNull>
        </dynamic>
    </select>

    <select id="findList" parameterClass="RebateDetailQuery" resultMap="RebateDetailResultMap">
        select
        <include refid="fields"/>
        from rebate_detail
        <dynamic prepend="where">
            valid_code=1
            <isNotNull property="subUnionIds" open="and">
                sub_union_id IN($subUnionIds$)
            </isNotNull>
            <isNotNull property="subUnionId" open="and">
                sub_union_id =#subUnionId#
            </isNotNull>
        </dynamic>
        order by submit_date desc
        limit #startRow#,#pageSize#
    </select>

    <select id="queryRebateDetailByOrderId" parameterClass="RebateDetailQuery" resultMap="RebateDetailResultMap">
        select
        <include refid="fields"/>
        from rebate_detail
        <include refid="condition"/>
        limit 1
    </select>

    <!--用户总返佣金额-->
    <select id="findUserTotalCommission" parameterClass="RebateDetailQuery" resultClass="double">
        select
        sum(user_commission)
        from rebate_detail
        where sub_union_id=#subUnionId# and status=#status#
        limit 1
    </select>

    <select id="getOrderSummaryBySubUnionIds" parameterClass="OrderSummary" resultMap="OrderSummaryResultMap">
        SELECT COUNT(distinct order_id) AS orderCount,SUM(user_commission) AS commission,SUM(agent_commission) AS agentCommission
        ,DATE_FORMAT(submit_date,"%Y-%m-%d") AS submitDate,'' AS subUnionId
        FROM rebate_detail
        where  order_status=1 and sub_union_id IN($subUnionIds$)
        GROUP BY submitDate
        ORDER BY submitDate DESC
        LIMIT #pageSize#
    </select>

    <select id="getOrderSummaryBySubUnionId" parameterClass="OrderSummary" resultMap="OrderSummaryResultMap">
        SELECT COUNT(distinct order_id) AS orderCount,SUM(user_commission) AS commission,SUM(agent_commission) AS agentCommission
        ,DATE_FORMAT(submit_date,"%Y-%m-%d") AS submitDate,sub_union_id AS subUnionId
        FROM rebate_detail
        WHERE order_status=1 and sub_union_id =#subUnionId#
        GROUP BY submitDate,sub_union_id
        ORDER BY submitDate DESC
        LIMIT #pageSize#
    </select>

    <select id="getAllOrderSummaryByDate" parameterClass="OrderSummaryQuery" resultClass="OrderSummary">
        SELECT COUNT(distinct order_id) AS orderCount,SUM(commission) AS commission
        FROM rebate_detail
        WHERE
        <![CDATA[  submit_date>=#startDate# and submit_date <=#endDate# ]]>
        AND order_status=1
        LIMIT 1
    </select>

    <select id="getRecommendUserOrderSummaryByOpenId" parameterClass="RebateDetailQuery" resultClass="OrderSummary">
        SELECT COUNT(distinct order_id) AS orderCount,SUM(agent_commission) AS commission
            FROM rebate_detail
            WHERE sub_union_id in (
            select ui.sub_union_id from recommend_user_info  rui
            left join user_info ui
            on rui.open_id=ui.open_id
            where rui.recommend_account=#openId#
        )
        and <![CDATA[  submit_date>=#startDate# and submit_date <=#endDate# ]]>
        limit 1
    </select>
</sqlMap>