<html style="font-size: 25.875px;"><head>
    <meta charset="utf-8">
    <title>我的下级代理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable = no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/income/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/income/incomeReport.css?v1" type="text/css">
    <link rel="stylesheet" href="/static/css/income/classic.css">
    <link rel="stylesheet" href="/static/css/income/classic.date.css">
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">


    <script type="text/javascript" src="/static/lib/jquery/jquery-2.0.3.min.js"></script>
    <script src="/static/lib/layer/layer.js"></script>
    <script src="/static/lib/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/secondAgent.js?v=2"></script>

</head>
<body style="font-size: 12px;">
<div class="reportTable">
    <div class="tHeader">
        <div class="th" style="width:30%;">微信头像</div>
        <div class="th" style="width:40%;text-align:center">微信昵称</div>
        <div class="th" style="width:30%;">
            <button class="layui-btn layui-btn-sm" onclick="showAddSecondAgent()">添加下级代理</button>
        </div>
    </div>
    #foreach($agentInfo in $agents)
    <div class="tBody">
        <div class="tr" style="height:90px">
            <div class="td" style="width:30%;"><img src="$!{agentInfo.imgUrl}" width="80" height="80"></div>
            <div class="td" style="width:40%;text-align:center">$!{agentInfo.nickName}</div>
            <div class="td" style="width:30%;">
                <a href="javascript:void(0);" onclick="showEdityLayer($!{agentInfo.id},$!{agentInfo.commissionRatio})" style="color:#e43837;font-size:medium;text-decoration:none;">比例设置</a>
            </div>
        </div>
    </div>
    #end
</div>
</body><style id="igor_ext_nofollow">a[rel~='nofollow']{outline:.14em dotted red !important;outline-offset:.2em;}a[rel~='nofollow'] > img{outline:thin dotted red !important;outline-offset:.2em;}</style></html>